:root {
  color-scheme: light dark;

  --yatl-table-view-filters-width: 300px;
}

:root.light {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;

  gap: var(--yatl-spacing-l);
  padding: var(--yatl-spacing-l);
}

nav {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 0 0 0%;
  padding: var(--yatl-spacing-m) var(--yatl-spacing-l);
  border-bottom: 1px solid var(--yatl-border-color);
}

.nav-left {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
}

.nav-title {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.025em;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.nav-link:hover {
  opacity: 1;
}

yatl-icon[name='sun'] {
  display: none;
}
yatl-icon[name='moon'] {
  display: block;
}
:root.dark yatl-icon[name='sun'] {
  display: block;
}
:root.dark yatl-icon[name='moon'] {
  display: none;
}

h4 {
  margin: 4px 0;
}

.option-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
