:root {
  color-scheme: light dark;

  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  --accent: #7531ae;

  --bg-screen-light: #ffffff;
  --bg-surface-light: #f1f5f9;
  --bg-subtle-light: #f1f2f3;
  --bg-hover-light: var(--accent);
  --border-light: #e2e8f0;
  --text-hi-light: #0f172a;
  --text-lo-light: #64748b;

  --bg-screen-dark: #101219;
  --bg-surface-dark: #101219;
  --bg-subtle-dark: #212429;
  --bg-hover-dark: var(--accent);
  --border-dark: #2f323f;
  --text-hi-dark: #f8fafc;
  --text-lo-dark: #94a3b8;

  --bg-screen: light-dark(var(--bg-screen-light), var(--bg-screen-dark));
  --bg-surface: light-dark(var(--bg-surface-light), var(--bg-surface-dark));
  --bg-subtle: light-dark(var(--bg-subtle-light), var(--bg-subtle-dark));
  --bg-hover: light-dark(var(--bg-hover-light), var(--bg-hover-dark));
  --border: light-dark(var(--border-light), var(--border-dark));
  --text-hi: light-dark(var(--text-hi-light), var(--text-hi-dark));
  --text-lo: light-dark(var(--text-lo-light), var(--text-lo-dark));
}

:root.light {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  font-family: system-ui, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: var(--text-hi);
  background-color: var(--bg-screen);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-lg);
  box-sizing: border-box;
  padding: var(--spacing-lg);
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
}

nav {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  width: 100%;
  flex: 0 0 0%;
  background: color-mix(in srgb, var(--bg-color) 80%, transparent);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--border-color);
}

.nav-left {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
}

.nav-title {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.025em;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
  opacity: 0.8;
  transition: opacity 0.2s;
}

.nav-link:hover {
  opacity: 1;
}

yatl-icon[name="sun"] {
  display: none;
}
yatl-icon[name="moon"] {
  display: block;
}
:root.dark yatl-icon[name="sun"] {
  display: block;
}
:root.dark yatl-icon[name="moon"] {
  display: none;
}

h4 {
  margin: 4px 0;
}

.option-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
