:root {
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  --accent: #38bdf8;

  --bg-screen: #f1f5f9;
  --bg-surface: #ffffff;
  --bg-subtle: #f8fafc;
  --bg-hover: var(--accent);
  --border: #e2e8f0;
  --text-hi: #0f172a;
  --text-lo: #64748b;
}

:root.dark {
  color-scheme: dark;

  --bg-screen: #020617;
  --bg-surface: #0f172a;
  --bg-subtle: #1e293b;
  --bg-hover: var(--accent);
  --border: #334155;
  --text-hi: #f8fafc;
  --text-lo: #94a3b8;
}

body {
  font-family: system-ui, sans-serif;
  height: 100vh;
  width: 100vw;
  padding: var(--spacing-lg);
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-lg);
  box-sizing: border-box;
  color: var(--text-hi);
  background-color: var(--bg-screen);
  overflow: hidden;
}

input[type='text'],
input[type='number'],
input[type='search'],
input[type='date'],
input:not([type]),
select {
  background-color: var(--bg-subtle);
  line-height: 1.5;
  border: none;
  border-radius: var(--radius-sm);
  font-size: large;
  padding: var(--spacing-sm);
}

select option {
  padding: 0 var(--spacing-sm);
}

select option:hover {
  background-color: var(--bg-hover);
}

.sidebar {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--spacing-md);
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  padding: var(--spacing-md);
}

.card h1 {
  font-weight: bold;
  font-size: x-large;
  margin: 0;
}

.card h2 {
  font-size: large;
  margin: 0;
}

.option-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--spacing-sm);
}

/* Need this to limit virtual scroll */
.table-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.toolbar-buttons {
  display: flex;
  flex-direction: row;
}

.button {
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
  padding: var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
  background: var(--bg-subtle);
  font-size: large;
  font-weight: 500;
  color: var(--text-hi);
}

.button:hover,
details[open] .button {
  background: var(--bg-hover);
}

.button-group {
  display: inline-flex;
  flex-direction: row;
  gap: 0;
}

.button-group > .button:not(:last-child),
.button-group > :not(:last-child) > .button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group > .button:not(:first-child),
.button-group > :not(:first-child) > .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group > .button:not(:first-child),
.button-group > :not(:first-child) {
  margin-left: -1px;
}

.button-group .button:hover,
.button-group details[open] .button {
  position: relative;
  z-index: 1;
  border-color: var(--border)
}

.dropdown {
  position: relative;
}

.dropdown summary {
  box-sizing: border-box;
  /* Hides the dropdown arrow*/
  display: flex;
  align-items: center;
  list-style: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
  background: var(--bg-subtle);
  border: 1px solid var(--border);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
  padding: var(--spacing-md);
  z-index: 50;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  color: var(--text-hi);
  padding: var(--spacing-sm);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--bg-hover);
  border-radius: var(--radius-sm);
}
