@import 'open-props/style';

:root {
  color-scheme: light dark;

  /* Typography */
  --yatl-font-size: var(--font-size-2);
  --yatl-font-size-s: var(--font-size-1);
  --yatl-font-size-l: var(--font-size-3);
  --yatl-font-family: var(--font-sans);
  --yatl-line-height: var(--font-lineheight-2);

  /* Spacing */
  --yatl-spacing-xs: 4px;
  --yatl-spacing-s: 8px;
  --yatl-spacing-m: 12px;
  --yatl-spacing-l: 16px;
  --yatl-spacing-xl: 20px;

  /* Radius */
  --yatl-radius-xs: 2px;
  --yatl-radius-s: 4px;
  --yatl-radius-m: 8px;
  --yatl-radius-l: 12px;
  --yatl-radius-xl: 16px;

  /* Border */
  --yatl-border-color: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  --yatl-border-color-subtle: light-dark(
    rgba(0, 0, 0, 0.05),
    rgba(255, 255, 255, 0.05)
  );
  --yatl-border-color-strong: light-dark(
    rgba(0, 0, 0, 0.25),
    rgba(255, 255, 255, 0.25)
  );

  /* Colors */
  --yatl-color-brand: #7531ae;
  --yatl-color-danger: var(--red-4);
  --yatl-color-warning: var(--yellow-4);
  --yatl-color-success: var(--green-4);
  --yatl-color-neutral-light: rgba(0, 0, 0, 0.15);
  --yatl-color-neutral-dark: rgba(255, 255, 255, 0.25);
  --yatl-color-neutral: light-dark(
    var(--yatl-color-neutral-light),
    var(--yatl-color-neutral-dark)
  );

  /* Color for color-mix usually for hover */
  --yatl-color-mix: light-dark(black, white);

  /* Surfaces */
  --yatl-surface-1-light: var(--gray-1);
  --yatl-surface-1-dark: var(--gray-10);
  --yatl-surface-1: light-dark(
    var(--yatl-surface-1-light),
    var(--yatl-surface-1-dark)
  );

  --yatl-surface-2-light: #fff;
  --yatl-surface-2-dark: var(--gray-9);
  --yatl-surface-2: light-dark(
    var(--yatl-surface-2-light),
    var(--yatl-surface-2-dark)
  );

  --yatl-surface-3-light: #fff;
  --yatl-surface-3-dark: var(--gray-8);
  --yatl-surface-3: light-dark(
    var(--yatl-surface-3-light),
    var(--yatl-surface-3-dark)
  );

  --yatl-surface-4-light: #fff;
  --yatl-surface-4-dark: var(--gray-7);
  --yatl-surface-4: light-dark(
    var(--yatl-surface-4-light),
    var(--yatl-surface-4-dark)
  );

  --yatl-surface-lowered-light: color-mix(in oklab, black 5%, transparent);
  --yatl-surface-lowered-dark: color-mix(in oklab, black 15%, transparent);
  --yatl-surface-lowered: light-dark(
    var(--yatl-surface-lowered-light),
    var(--yatl-surface-lowered-dark)
  );

  --yatl-surface-raised-1-light: #fff;
  --yatl-surface-raised-1-dark: color-mix(in oklab, white 6%, transparent);
  --yatl-surface-raised-1: light-dark(
    var(--yatl-surface-raised-1-light),
    var(--yatl-surface-raised-1-dark)
  );

  --yatl-surface-raised-2: color-mix(
    in oklab,
    white 10%,
    var(--yatl-surface-raised-1)
  );
  --yatl-surface-raised-3: color-mix(
    in oklab,
    white 10%,
    var(--yatl-surface-raised-2)
  );

  /* Text colors */
  --yatl-text-1-light: var(--gray-10);
  --yatl-text-1-dark: var(--gray-2);
  --yatl-text-1: light-dark(var(--yatl-text-1-light), var(--yatl-text-1-dark));

  --yatl-text-2-light: var(--gray-7);
  --yatl-text-2-dark: var(--gray-5);
  --yatl-text-2: light-dark(var(--yatl-text-2-light), var(--yatl-text-2-dark));

  --yatl-text-3-light: var(--gray-6);
  --yatl-text-3-dark: var(--gray-6);
  --yatl-text-3: light-dark(var(--yatl-text-3-light), var(--yatl-text-3-dark));

  /* Used for neutral color scheme */
  --yatl-text-inverse: light-dark(white, black);

  /* Brand doesn't change with light / dark mode */
  --yatl-text-brand: white;

  font-family: var(--yatl-font-family);
  font-size: var(--yatl-font-size);
  color: var(--yatl-text-1);
  background-color: var(--yatl-surface-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.light {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}
