@import 'open-props/style';

:root {
  color-scheme: light dark;

  /* Typography */
  --yatl-font-family: var(--font-sans);
  --yatl-font-size: var(--font-size-2);
  --yatl-line-height: var(--font-lineheight-2);

  /* Spacing */
  --yatl-spacing-xs: 4px;
  --yatl-spacing-s: 8px;
  --yatl-spacing-m: 12px;
  --yatl-spacing-l: 16px;
  --yatl-spacing-xl: 20px;

  /* Radius */
  --yatl-radius-xs: 2px;
  --yatl-radius-s: 4px;
  --yatl-radius-m: 8px;
  --yatl-radius-l: 12px;
  --yatl-radius-xl: 16px;

  /* Border */
  --yatl-border-color-light: var(--gray-4);
  --yatl-border-color-dark: var(--gray-7);
  --yatl-border-color: light-dark(
    var(--yatl-border-color-light),
    var(--yatl-border-color-dark)
  );

  /* Colors */
  --yatl-color-brand: #7531ae;
  --yatl-color-danger: #ef4444;
  --yatl-color-warning: #9b5300;
  --yatl-color-success: #227931;
  --yatl-color-neutral-light: #2f323f;
  --yatl-color-neutral-dark: #e4e5e9;
  --yatl-color-neutral: light-dark(
    var(--yatl-color-neutral-light),
    var(--yatl-color-neutral-dark)
  );

  /* Color for color-mix usually for hover */
  --yatl-color-mix: light-dark(black, white);

  /* Surfaces */
  --yatl-surface-1-light: var(--gray-1);
  --yatl-surface-1-dark: var(--gray-10);
  --yatl-surface-1: light-dark(
    var(--yatl-surface-1-light),
    var(--yatl-surface-1-dark)
  );

  --yatl-surface-2-light: var(--gray-2);
  --yatl-surface-2-dark: var(--gray-9);
  --yatl-surface-2: light-dark(
    var(--yatl-surface-2-light),
    var(--yatl-surface-2-dark)
  );

  --yatl-surface-3-light: var(--gray-3);
  --yatl-surface-3-dark: var(--gray-8);
  --yatl-surface-3: light-dark(
    var(--yatl-surface-3-light),
    var(--yatl-surface-3-dark)
  );

  --yatl-surface-4-light: var(--gray-4);
  --yatl-surface-4-dark: var(--gray-7);
  --yatl-surface-4: light-dark(
    var(--yatl-surface-4-light),
    var(--yatl-surface-4-dark)
  );

  /* Text colors */
  --yatl-text-1-light: var(--gray-10);
  --yatl-text-1-dark: var(--gray-2);
  --yatl-text-1: light-dark(var(--yatl-text-1-light), var(--yatl-text-1-dark));

  --yatl-text-2-light: var(--gray-7);
  --yatl-text-2-dark: var(--gray-5);
  --yatl-text-2: light-dark(var(--yatl-text-2-light), var(--yatl-text-2-dark));

  --yatl-text-3-light: var(--gray-6);
  --yatl-text-3-dark: var(--gray-6);
  --yatl-text-3: light-dark(var(--yatl-text-3-light), var(--yatl-text-3-dark));

  /* Used for neutral color scheme */
  --yatl-text-inverse: light-dark(white, black);

  /* Brand doesn't change with light / dark mode */
  --yatl-text-brand: white;

  font-family: var(--yatl-font-family);
  font-size: var(--yatl-font-size);
  color: var(--yatl-text-1);
  background-color: var(--yatl-surface-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.light {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}
