.data-table {
  --dt-header-sorter-width: 16px;
  --dt-header-resizer-width: 10px;
  --dt-header-drop-color: rgba(255, 255, 255, 0.1);

  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
}

.dt-headers {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dt-headers > tr {
  height: 5px;
}

.dt-headers > tr > th {
  position: relative;
  padding-right: calc(var(--dt-header-sorter-width) + var(--dt-header-resizer-width));
}

.dt-sortable {
  cursor: pointer;
}

.dt-sortable::after {
  content: "";
  position: absolute;
  top: 0;
  right: var(--dt-header-resizer-width);
  width: var(--dt-header-sorter-width);
  height: 100%;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.0686%2015H7.9313C7.32548%2015%207.02257%2015%206.88231%2015.1198C6.76061%2015.2238%206.69602%2015.3797%206.70858%2015.5393C6.72305%2015.7232%206.93724%2015.9374%207.36561%2016.3657L11.4342%2020.4344C11.6323%2020.6324%2011.7313%2020.7314%2011.8454%2020.7685C11.9458%2020.8011%2012.054%2020.8011%2012.1544%2020.7685C12.2686%2020.7314%2012.3676%2020.6324%2012.5656%2020.4344L16.6342%2016.3657C17.0626%2015.9374%2017.2768%2015.7232%2017.2913%2015.5393C17.3038%2015.3797%2017.2392%2015.2238%2017.1175%2015.1198C16.9773%2015%2016.6744%2015%2016.0686%2015Z%22%20fill%3D%22currentColor%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M7.9313%209.00005H16.0686C16.6744%209.00005%2016.9773%209.00005%2017.1175%208.88025C17.2393%208.7763%2017.3038%208.62038%2017.2913%208.46082C17.2768%208.27693%2017.0626%208.06274%2016.6342%207.63436L12.5656%203.56573C12.3676%203.36772%2012.2686%203.26872%2012.1544%203.23163C12.054%203.199%2011.9458%203.199%2011.8454%203.23163C11.7313%203.26872%2011.6323%203.36772%2011.4342%203.56573L7.36561%207.63436C6.93724%208.06273%206.72305%208.27693%206.70858%208.46082C6.69602%208.62038%206.76061%208.7763%206.88231%208.88025C7.02257%209.00005%207.32548%209.00005%207.9313%209.00005Z%22%20fill%3D%22currentColor%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.dt-sortable.dt-descending::after {
  mask-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M16.0686%2015H7.9313C7.32548%2015%207.02257%2015%206.88231%2015.1198C6.76061%2015.2238%206.69602%2015.3797%206.70858%2015.5393C6.72305%2015.7232%206.93724%2015.9374%207.36561%2016.3657L11.4342%2020.4344C11.6323%2020.6324%2011.7313%2020.7314%2011.8454%2020.7685C11.9458%2020.8011%2012.054%2020.8011%2012.1544%2020.7685C12.2686%2020.7314%2012.3676%2020.6324%2012.5656%2020.4344L16.6342%2016.3657C17.0626%2015.9374%2017.2768%2015.7232%2017.2913%2015.5393C17.3038%2015.3797%2017.2392%2015.2238%2017.1175%2015.1198C16.9773%2015%2016.6744%2015%2016.0686%2015Z%22%20fill%3D%22currentColor%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.dt-sortable.dt-ascending::after {
  mask-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.9313%209.00005H16.0686C16.6744%209.00005%2016.9773%209.00005%2017.1175%208.88025C17.2393%208.7763%2017.3038%208.62038%2017.2913%208.46082C17.2768%208.27693%2017.0626%208.06274%2016.6342%207.63436L12.5656%203.56573C12.3676%203.36772%2012.2686%203.26872%2012.1544%203.23163C12.054%203.199%2011.9458%203.199%2011.8454%203.23163C11.7313%203.26872%2011.6323%203.36772%2011.4342%203.56573L7.36561%207.63436C6.93724%208.06273%206.72305%208.27693%206.70858%208.46082C6.69602%208.62038%206.76061%208.7763%206.88231%208.88025C7.02257%209.00005%207.32548%209.00005%207.9313%209.00005Z%22%20fill%3D%22currentColor%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.dt-empty {
  text-align: center;
  pointer-events: none;
}

.dt-resizer {
  position: absolute;
  top: 0;
  right: 0; /* Position it slightly to the right of the cell content, adjust as needed */
  width: var(--dt-header-resizer-width);
  height: 100%;
  cursor: col-resize;
}

.dt-resizer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px; /* The visible line */
  height: 60%; /* Adjust height as desired */
  background-color: currentColor;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.2s ease-in-out;
}

th:hover .dt-resizer::after,
.dt-resizer.resizing::after {
  opacity: 1;
}

.dt-headers > tr > th.dt-drag-over,
.dt-headers > tr > th:has(.dt-drag-over) {
  background-color: var(--dt-header-drop-color);
}